{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<section class="hero is-primary is-bold">
    <h1 class="text-center">Tasks To Be Done</h1>
    <div class="hero-body" style="min-height: 500px;">

        <div class="container col-md-6">
            {% for user in users %}
            <div class="container col-md-6">
                <div class="row">
                    <div class="col">
                        <div class="card text-white bg-secondary" style="width: 18rem;">
                          <div class="card-body bg-dark">
                            <h5 class="card-title text-white">{{ user }}</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-success">Go somewhere</a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            </br>
            {% endfor %}
        </div>
    </div>

{% endblock %}
{% block scripts %}
</section>


<script src="../static/js/scripts.js"></script>
{% endblock %}
