{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<section class="hero is-primary is-bold">
    <h1 class="text-center">Tasks To Be Done</h1>
    <div class="hero-body" style="min-height: 500px;">

        <table id="features" class="table table-sm order-column display hover cell-border compact">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Title</th>
                  <th scope="col">Description</th>
                    <th scope="col">Client</th>
                    <th scope="col">Task Priority</th>
                    <th scope="col">Due Date</th>
                </tr>
            </thead>
            <tbody>
            {% for feature in features %}
                <tr>
                  <th scope="row">{{ feature.id }}</th>
                  <td>{{ feature.title }}</td>
                  <td>{{ feature.description }}</td>
                    <td>{{ feature.client }}</td>
                    <td>{{ feature.priority }}
                        {% if feature.priority > 8 %}
                            <span class="badge badge-danger">Urgent!</span>
                        {% elif feature.priority > 5 and feature.priority < 9 %}
                            <span class="badge badge-warning">Dont forget!</span>
                        {% endif %}
                    </td>
                    <td>{{ feature.date }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        </div>
    </div>

{% endblock %}
{% block scripts %}
</section>


{% endblock %}
